* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1000px;
  margin: auto;
}

.header {
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #00a0e9;
  text-shadow: 2px 2px 0 #212121;
  text-align: center;
}

.main {
  margin: 20px 0;
}

.main .control,
.main .input,
.main .output {
  margin: 20px 0;
  text-align: center;
}

.main .input img {
  width: 800px;
  height: 450px;
}

.main .output img {
  width: 660px;
  height: 450px;
}

.main .canvas {
  display: none;
}

.footer {
  padding: 20px 0;
  color: #757575;
  text-align: center;
}
