* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

p {
  margin: 10px 0;
}

.center {
  text-align: center;
}

.wrapper {
  width: 1000px;
  margin: auto;
}

.header {
  padding: 20px;
  color: #fff;
  background-color: #00a0e9;
  text-align: center;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 2px 0 #212121;
}

.header h2 {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 2px 2px 0 #212121;
}

.main {
  margin: 20px 0;
}

.main .control,
.main .input,
.main .output {
  margin: 20px 0;
  text-align: center;
}

.main .input img {
  width: 800px;
  height: 450px;
}

.main .output img {
  width: 660px;
  height: 450px;
}

.main .canvas {
  display: none;
}

.footer {
  margin-top: 50px;
  padding: 20px 0;
  color: #757575;
  text-align: center;
}

.footer a {
  color: #757575;
}

@media screen and (max-width: 1040px) {
  .wrapper {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .main .input img {
    width: 100%;
    height: 56.25%;
  }

  .main .output img {
    width: 79.2%;
    height: 54%;
  }
}
